@charset "UTF-8";
/* CSS Document */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

/*removes all floats and margins from normal version of website*/
	body, #main_content, #header, #logo, #tagline, #book_cover, #color_divider, #white_circle_container  {
		float: none;
		clear: both;
		display: block;
		position: static;
		margin: 0;
		/*text-align: center;*/
	}

	/*-------Hidden Items from Webpage-------*/
	#social_media_container, #contact, #purple_circle_container, #orange_circle_container, #magenta_circle, #girls {
		display: none;
	}
	/*---------END--------*/

	html { 
	  background: url(images/mobile_main_bkg.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	#main_content {

		background: none;
		background: green;
		width: 100%;
		height: 100%;
	}

	#header {
		background: url(images/mobile_head_bkg.png);
		background-size: contain;
		background-size: 100% 100%;
		padding: 20px 0;
	}

	#logo {
		width: 65%;
		height: auto;
		margin: 30px auto;
	}

	#tagline {
		width: 100%;
		margin-bottom: 14px;

		font-size: 2em;
		font-style: italic;
		text-align: center;
	}

/*---------COLOR BARS---------*/

	#color_divider {
		margin-bottom: 48px;
	}

	#red, #orange, #yellow, #green, #cyan, #blue, #purple {
		height: 35px;
	}

	#red { 
		background: #E2231B; 
		width: 5%; 
	}

	#orange { 
		background: #FF6C2C; 
		width: 16%; 
	}

	#yellow { 
		background: #DAD224; 
		width: 19%; 
	}

	#green { 
		background: #00A14B; 
		width: 8%; 
	}

	#cyan { 
		background: #00AEEF; 
		width: 18%; 
	}

	#blue { 
		background: #252885; 
		width: 30%; 
	}

	#purple { 
		background: #62269E; 
		width: 4%; 
	}

/*---------END---------*/


	#book_cover {
		background: red;
		width: 50%;
		height: auto;
		/*margin: 0 0 0 48px;*/
	}

	#white_circle_container {
		background: yellow;
		width: 40%;
	}

	#white_circle_container > p {
		background: grey;
		font-size: 2.3em;
		font-weight: bolder;
		line-height: 1.3em;
		text-align: justify;
	}

	.new_line {
		display: initial;
	}

/*---------CHANGING THE COLORS IN THE MAIN TEXT'S STRONG TAGS---------*/
	.purple {
		color: purple;
	}

	.red {
		color: red;
	}

/*---------END---------*/

	#contact_mobile {
		display: initial;
/*		position: relative;
		bottom: 10px;*/

		color: cyan;
	}

	#contact_mobile > a {
		color: red;
	}

}
