@charset "UTF-8";
/* CSS Document */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	html { 
	  background: url(images/Brooklad_Adventures_Bkgd_mobile.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	body {
		width: 100%;
	}

	#main_content {
		width: 100%;
		margin: 0 auto;
		background: none;
	}

	body, #main_content, #header, #logo, #tagline, #color_divider, #book_cover, #white_circle_container  {
		float: none;
		clear: both;
/*		display: block;
*/		position: static;
		margin: 0;
		/*text-align: center;*/
	}

	#logo {
		width: 80%;
		height: auto;
		background: red;
	}

	#tagline {
		width: 100%;
		margin-top: 20px;
		font-size: 34px;
	}

	#book_cover {
		display: inline-block;
/*		margin: 25px 0 0 2%;*/
		width: 35%;
		height: auto;
	}

	#white_circle_container {
		background: red;
		width: 59%;
/*		margin: 15px 2% 0 2%;
*/	}

	#white_circle_container > p {
		text-align: justify;
		font-size: 25px;
		line-height: 35px;
	}

	.new_line {
		display: initial;
	}



	/*---------COLOR BARS---------*/

	#color_divider {
		margin-top: 25px;
	}

	#red, #orange, #yellow, #green, #cyan, #blue, #purple {
		height: 18px;
	}

	#red { 
		background: #E2231B; 
		width: 5%; 
	}

	#orange { 
		background: #FF6C2C; 
		width: 16%; 
	}

	#yellow { 
		background: #DAD224; 
		width: 19%; 
	}

	#green { 
		background: #00A14B; 
		width: 8%; 
	}

	#cyan { 
		background: #00AEEF; 
		width: 18%; 
	}

	#blue { 
		background: #252885; 
		width: 30%; 
	}

	#purple { 
		background: #62269E; 
		width: 4%; 
	}

/*---------END---------*/

/*---------CHANGING THE COLORS IN THE MAIN TEXT'S STRONG TAGS---------*/
	.purple {
		color: purple;
	}

	.red {
		color: red;
	}

/*---------END---------*/

	#contact_mobile {
		display: initial;
/*		position: relative;
		bottom: 10px;*/

		color: cyan;
	}

	#contact_mobile > a {
		color: red;
	}
	


/*-------Hidden Items from Webpage-------*/
	#social_media_container, #contact, #purple_circle_container, #orange_circle_container, #magenta_circle, #girls {
		display: none;
	}
/*---------END--------*/

}
