@charset "UTF-8";
/* CSS Document */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

/*-------Hidden Items from Webpage-------*/
	#social_media_container, #contact, #purple_circle_container, #orange_circle_container, #magenta_circle, #girls {
		display: none;
	}
/*---------END--------*/

/*removes all floats and margins from normal version of website*/
	html, body, #main_content, #header, #logo, #tagline, #book_cover, #color_divider, #white_circle_container {
		float: none;
/*		clear: both;
*/		display: block;
		position: static;
		margin: 0;
		/*text-align: center;*/
	}

	html { 
	  background: url(images/Brooklad_Adventures_Bkgd_mobile.png); 
	}

	#main_content {
		background: none;
		width: 100%;
		height: 100%;
	}

	.new_line {
		display: block;
	}

	.new_line:not(.mobile) {
		display: initial;
	}

	#header_image {
		display: initial;
		width: 100%;
		height: auto;

		position: absolute;
		left: 0px;
		top: 0px;
		z-index: -1;
	}

	#header {
		margin: 9%;
	}

	#logo {
		width: 80%;
		height: auto;
		margin: 0 auto;
		margin-top: -20px;
	}

	#tagline {
		width: 100%;

		font-size: 2.3em;
		line-height: 1.4em;
		font-style: italic;
		text-align: center;
		margin-top: 20px;
	}

/*---------COLOR BARS---------*/

	#color_divider {
		position: absolute;
		bottom: 0;
	}

	#red, #orange, #yellow, #green, #cyan, #blue, #purple {
		height: 35px;
	}

	#red { 
		background: #E2231B; 
		width: 5%; 
	}

	#orange { 
		background: #FF6C2C; 
		width: 16%; 
	}

	#yellow { 
		background: #DAD224; 
		width: 19%; 
	}

	#green { 
		background: #00A14B; 
		width: 8%; 
	}

	#cyan { 
		background: #00AEEF; 
		width: 18%; 
	}

	#blue { 
		background: #252885; 
		width: 30%; 
	}

	#purple { 
		background: #62269E; 
		width: 4%; 
	}

/*---------END---------*/


	#book_cover {
		width: 50%;
		height: auto;
		margin: 0 25px 0 48px;
/*		width: 50%;
		height: auto;*/
		/*margin: 0 0 0 48px;*/
	}

	#white_circle_container {
		margin: 0 48px;
/*		width: 40%;*/
	}

	#white_circle_container > p {
		font-size: 2.3em;
		font-weight: bolder;
		line-height: 1.3em;
		text-align: left;
	}

	#contact_mobile {
		display: initial;
		margin: 20px auto;
		color: black;

		font-size: 2em;
		font-weight: bold; 
		text-align: center;
	}

	#contact_mobile > a {
		color: black;
	}

}

.dot_divider {
	display: none;
}
